:root{
    background-color: orange;
}

*{
    /* box-sizing: border-box; */
    margin: .5em;
    padding: 3px;
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}





body body {
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 52vh;
    
}



h1{ font-size: 1rem;
    color: white;
    /* margin-bottom: 3rem; */
}


.gameBoard .gameboard2 .gameboard3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
   
     
   
    
}




/* #flex-container {
    display: flex;
    width: 50%;
    height: 250px;
    align-items: center;
    flex-direction: row;

  }
  #flex-container > div {
    width: 100px;
    margin: 15px;
    text-align: center;
    line-height: 75px;
    font-size: 35px;
    align-items: center;
    flex-direction: row;
  } */



audio{
    width: 50px;
    height: 15px;
  

}

    
#wrong{
    background-color: red;
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;
    color: white;
    outline: none;
    width:40%
}

.right{
    background-color: green;
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;
    color: white;
    outline: none;
    width:40%
}


.answerButtons{
    display:grid;
    grid-template-rows: repreat(2, auto);
    gap: 10px;
    margin: 3px 0;
}

.answerbutton-true, .answerbutton-false{
    background-color: purple;
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;
    color: white;
    outline: none;
    width:40%
    
}

.button:hover{
    border-color:red;
}

#startButton{
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    display:inline-block;
    margin: 2px;
    
    

}

#nextButton{
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    

}
/* 
#showMetheQuestion{
    font-size: 1.5rem;
    font-weight: bold;
    /* padding: 10px 20px;
    bottom: 100px;
    right: 210px; */




.timerContainer{
    
    justify-content: center;
    align-items: center;
    height: 4vh;
    border: black solid;
}


.p1scoreCount, .p2scoreCount {
    color: red;
    size: 25px;
}

.roundBox{
    border: solid black;
   font-size: 20px;
    width:15px;
    height: 7px;
    color:white;
    background-color: aquamarine;
    
}

#timer{
    margin-bottom: 2px;
    font-size: .8rem;
    font-weight: 200;
    color:white;

}




