:root{
    background-color: orangered;
    background: rgba(239, 84, 45, 0.833);
    -webkit-border-radius: 44px; 
    border-radius: 44px; 
    background: #0f0f10;
    -webkit-box-shadow: 30px 30px 52px #0d0d0e, -30px -30px 52px #111112;
    box-shadow: 30px 30px 52px #0d0d0e, -30px -30px 52px #111112;
box-shadow: 0px 4px 8px 0 white;
background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/25d45014-8cc3-4c98-b02c-5a0cf3a55ddd/ddhbo8x-6ef4cc08-aab0-497e-af68-3665ecd0931e.png/v1/fill/w_865,h_865,strp/vinyl_record_on_a_transparent_background__by_prussiaart_ddhbo8x-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODY1IiwicGF0aCI6IlwvZlwvMjVkNDUwMTQtOGNjMy00Yzk4LWIwMmMtNWEwY2YzYTU1ZGRkXC9kZGhibzh4LTZlZjRjYzA4LWFhYjAtNDk3ZS1hZjY4LTM2NjVlY2QwOTMxZS5wbmciLCJ3aWR0aCI6Ijw9ODY1In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.N09IN1GovLf67FdpH8ZnKZxqI6_AFp0uEx2spA-wn7Q");
/* background-image: url("https://www.nicepng.com/png/detail/21-219244_blank-vinyl-record-png-vinyl-png-transparent.png"); */
    background-repeat: no-repeat;
    background-size:contain


   
}



@font-face {
    font-family:ostrich-sans-bold ;
    src: url('font/ostrich-sans-bold.ttf');
}

*{
    box-sizing: border-box;
    margin: 1.5em;;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    
}

body body {
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("http://assets.stickpng.com/images/5856b3da4f6ae202fedf2794.png");
    background-repeat: no-repeat;
    background-size: cover;
    
   
    
}

p{
    color: white;
    font-size: 9px;
    font-weight: 600px;
    
}

h1{ font-size: 50px;
    color:#a46368;
    box-shadow: 0px 4px 8px 0 white;
    padding: .2em;
    width: 80%;
    text-align: center;
    font-family: ostrich-sans-bold;

    
}

.gameBoard .gameboard2 .gameboard3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    

   
     
   
    
}

audio{
    width: 50px;
    height: 15px;
    

}

    
#wrong{
    background-color: red;
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;
    color: white;
    outline: none;
    width:40%
}

.right{
    background-color: green;
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;
    color: white;
    outline: none;
    width:40%
}


.answerButtons{
    display:grid;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin: 3px 0;
    
}

.answerbutton-true, .answerbutton-false{
    background-color: #eed8b4;
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;
    color: #a46368;
    outline: none;
    width:43%;
    
    
    
}

.button:hover{
    border-color:red;
}

#startButton{
    height: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    display:inline-block;
    margin: 3px;

}

#startButton:hover{
    height: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    display:inline-block;
    margin: 3px;
    background-color:#56241b ;
    
    

}

#nextButton{
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    

}

.timerContainer{
    
    justify-content: center;
    align-items: center;
    height: 5vh;
    border: black solid;
}

.p1scoreCount, .p2scoreCount {
    color: red;
    size: 25px;

}

.totalPointp1{
    font-size: 10px;

}


.roundBox{
    border: solid black;
   font-size: 20px;
    width:15px;
    height: 8px;
    color: black;
    background-color: #d9ceb8;
    
}

#timer{
    margin-bottom: 2px;
    font-size: .8rem;
    font-weight: 200;
    color:white;

}




